<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="row">
				<div class="text-center"><a class="navbar-brand" href="#">Network Device Manager</a></div>
			</div>
			<!-- <div class="row"> -->
			
		<ul class="nav navbar-nav navbar-left">
        <li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
      	<li><a href="#"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>
    <div class="navbar-form navbar-left">
				<input type="text" class="form-control" placeholder="Search">
			</div>
    <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Preferences</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Log Out Everywhere</a></li>
          </ul>
        </li>
 	</ul>
			
	</div>
   
   
</nav>